﻿@model EcommerceWebsite.Models.CategorySearchViewModel

<!--Some Scripts-->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>
<div class="container">
    <hr />
    <form method="post" action="/Category/CategoryTable" class="form-horizontal">
        <div class="row">
            <div class="col-md-8">
                <div class="form-group">
                    <label for="Search">Search</label>
                    <input class="form-control"  placeholder="⌕Search.." id="searchTxt" name="Search" />
                </div>
            </div>
            <div class="col-md-4">
                <div class="form-group">
                    <label>Action</label>
                    <div class="row">
                        <div class="col-md-4 pr-0">
                            <button class="btn btn-primary form-control" type="button" id="searchbtn">Search</button>
                        </div>
                        <div class="col-md-4 pr-0">
                            <button class="btn btn-primary form-control" type="button" id="resetbtn">Reset</button>
                        </div>
                        <div class="col-md-4 pr-0">
                            <button class="btn btn-primary form-control" type="button" id="newbtn">New</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </form>
</div><!--Search Boxes and New Buttons-->

<br />
<div>
    <br />
    <h2>Category Table</h2>
    <table class="table table-striped">
        <thead>
            <tr>
                <th>Category Name</th>
                <th>Products</th>
                <th class="wrap-td">Action</th>
            </tr>
        </thead>
        <tbody>
            @if (Model.Categories != null && Model.Categories.Count > 0)
            {
                foreach (var category in Model.Categories)
                {
                    <tr>
                        <td>@category.Name</td>
                        <td>@category.Products.Count</td>
                        <td>
                            @{  if (category.isFeatured == false)
                                { <text>Featured</text>}
                                else
                                { <text>-</text>}
                            }
                        </td>
                        <td>
                            <button class="editbtn" data-id="@category.ID">Edit</button>
                            <button class="deletebtn" data-id="@category.ID" data-toggle="modal" data-target="#exampleModal">Delete</button>
                        </td>
                    </tr>
                                    }
                                }
                                else
                                {
                                    <tr><td colspan="3" class="text-danger">No Category found.</td></tr>
                                }
        </tbody>
    </table>
</div><!-- Products Details and listing-->


<!-- Modal -->
<div class="modal hide" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Delete Changes</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                Are you sure, you wanna delete the category?
            </div>
            <div class="modal-footer">
                <button type="button" id="yes-delete-btn" data-dismiss="modal" class="btn btn-primary">Yes,Delete</button>
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>

<script>
    $("#searchbtn").click(function () {
        var searchValue = $("#searchTxt").val();
        SearchFunction();
    });
    $("#resetbtn").click(function () {
        var searchValue = "";
        SearchFunction();
    });
    /*$("#searchTxt").keypress(function(event){
        var keycode = (event.keyCode ? event.keyCode : event.which);
        if(keycode == '13'){
            $("#searchbtn").focus();
        }
    });*/
    $("#newbtn").click(function () {
        $.ajax({
            url: '@Url.Action("Create","Category")'
        })
        .done(function (response) {
            $("#actionContainer").html(response)
            focusAction("actionContainer")
        })
        .fail(function (XMLHttpRequest, textStatus, errorThrown) {
            alert(XMLHttpRequest+" "+ textStatus+" "+ errorThrown);
        })
    });
    $(".editbtn").click(function () {
        $.ajax({
            url: '@Url.Action("Edit","Category")',/*'/Category/Edit',*/
            data:{
                    ID:$(this).attr('data-id')
                }
            })
            .done(function (response) {
                $("#actionContainer").html(response)
                focusAction("actionContainer");
                
            })
            .fail(function (XMLHttpRequest, textStatus, errorThrown) {

            });
    });
    $(".deletebtn").click(function () {

        $.ajax({
            type: 'POST',
            url: '@Url.Action("Delete","Category")',/*'/Category/Delete',*/
            data: {

                ID: $(".deletebtn").attr('data-id')
            }
        })
        .done(function (response) {
            $("#tableContainer").html(response)
        })
        .fail(function (XMLHttpRequest, textStatus, errorThrown) {
            alert("Request Faliled");
        });
    });
    //Funtions
    function SearchFunction() {
        $.ajax({
            url: '@Url.Action("Category","CategoryTable")', /*'/Category/CategoryTable',*/
            data: {
                search: searchValue
            }
        })
            .done(function (response) {
                $("#tableContainer").html(response)
            })
            .fail(function (XMLHttpRequest, textStatus, errorThrown) {

            });
    }
    
</script>