﻿@model  DevClothing.Entities.Category
@{
    ViewBag.Title = "Delete";
}
<h2>Delete Category</h2>
<form method="post">
    <input type="hidden" value="@Model.ID" />
    <button type="submit">Delete</button>
    <a href="/Index">Cancel</a>
</form>

