﻿@{
    ViewBag.Title = "Categories";
}
<h2>Index</h2>
<section class="flat-row flat-iconbox">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="title-section">
                    <h2 class="title">
                        Categories
                    </h2>
                </div>
            </div>
        </div>
        <div id="tableContainer">
            @{Html.RenderAction("CategoryTable");
            }
        </div>
        <hr />
        <div id="actionContainer">

        </div>
    </div>
</section>
<script>
    function focusAction(divToFocus) {
        $('html, body').animate({
            scrollTop: $("#"+divToFocus).offset().top - 100
        }, 1000);
    }
</script>

