﻿@model EcommerceWebsite.Models.NewProductViewModels
@{
    ViewBag.Title = "Create";
}
    
<div class="container">
    <h2>Create Product</h2>
    <form role="form" id='createProduct' class="form-horizontal">
        <div class="form-group">
            <label  class="col-sm-2" for="Category">Category Name</label>
            <div class="col-sm-10">
                <select name="CategoryID" class="form-control" placeholder="Select Category">
                    @foreach (var category in Model.AvailableCategories)
                    {
                        <option value="@category.ID">@category.Name</option>
                    }
                </select>
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-2" for="Name">Name:</label>
            <div class="col-sm-10">
                <input name="Name" class="form-control" placeholder="Enter Product Name" />
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-2" for="Description">Description</label>
            <div class="col-sm-10">
                <textarea class="form-control" rows="2" name="Description" placeholder="Add Description" required></textarea>
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-2" for="Price">Price</label>
            <div class="col-sm-10">
                <input type="text" id="Price" class="form-control" placeholder="Add Price" name="Price">
            </div>
        </div>
        <div class="form-group">
            <div class="col-sm-offset-10 col-sm-2">
                <button type="button" id="savebtn">Save</button>
                <button type="button" id="cancelbtn">Cancel</button>
            </div>
        </div>
    </form>
</div>

    
<script>
    $("#savebtn").click(function () {
        $.ajax({
            type: 'POST',
            url: '@Url.Action("Create", "Product")',/*'/Product/Create',*/
            data: $('#createProduct').serialize()
        })
            .done(function (response) {
                $("#tableContainer").html(response),
                $('#actionContainer').html("")
                focusAction("tableContainer");
            })
            .fail(function (XMLHttpRequest, textStatus, errorThrown) {
                alert("Request Failed");
            });
    });
    $("#cancelbtn").click(function () {
        $("#actionContainer").html("");
        focusAction("tableContainer");
    });
</script>

