﻿@model EcommerceWebsite.Models.EditProductViewModel
@{
    ViewBag.Title = "Edit";
}

<h2>Edit Product </h2>
<form id='editProduct' method="post">
    <input type="hidden" name="ID" value="@Model.ID" />
    <div class="form-group">
        <label>Category</label>
        <select class="form-control" name="CategoryID">
            @foreach (var category in Model.AvailableCategories)
            {
                var selected = category.ID == Model.CategoryID ? "selected" : string.Empty;
                <option value="@category.ID" @selected>@category.Name</option>}
        </select>
    </div>
    <div class="form-group">
        <label for="Name">Name</label>
            <input name="Name" value="@Model.Name" class="form-control" />
    </div>
    <br />
    <div class="form-group">
        <label for="Description">Description</label>
            <input name="Description" value="@Model.Description" class="form-control" />
    </div>
    <div class="form-group">
        <label for="Price">Price</label>
            <input name="Price" value="@Model.Price" class="form-control" />
    </div>
    <div class="form-group">
        <button type="button" class="btn btn-primary" id="updatebtn">Update</button>
            <button type="button" class="btn btn-primary" id="cancelbtn">Cancel</button>
    </div>
</form>
<script>
    $("#updatebtn").click(function () {
        $.ajax({
            type: 'POST',
            url: '@Url.Action("Edit", "Product")',/*'/Product/Edit',*/
            data: $('#editProduct').serialize()
        })
            .done(function (response) {
                $("#tableContainer").html(response)
                $('#actionContainer').html("");
                focusAction("tableContainer");
            })
            .fail(function(XMLHttpRequest, textStatus, errorThrown){
                alert("Request Failed");
            });
    });
    $("#cancelbtn").click(function () {
        $("#actionContainer").html("");
        focusAction("tableContainer");
    });
</script>

