﻿
@{
    ViewBag.Title = "Products";
}
<section class="flat-row flat-iconbox">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="title-section">
                    <h2 class="title">
                        Products
                    </h2>
                </div>
            </div>
        </div>
    </div>
    <div id="tableContainer">
        @{
            Html.RenderAction("ProductTable");
        }
    </div>
    <!-- For Creation of Product or Updating a product:)-->
    <hr />
    <div id="actionContainer">

    </div>
</section>
<script>
    function focusAction(divToFocus) {
        $('html, body').animate({
            scrollTop: $("#"+divToFocus).offset().top - 100
        }, 700);
    }
</script>


