﻿@model EcommerceWebsite.Models.ProductSearchViewModel
@{
    ViewBag.Title = "ProductTable";
}
<!--Some Scripts-->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>
<link href="~/Content/Datatables/datatables.min.css" rel="stylesheet" />
<script src="~/Content/Datatables/datatables.min.js"></script>

<hr />
<div class="container">
    <form method="post" action="/Product/ProductTable" class="form-horizontal">
        <div class="row">
            <div class="col-md-8">
                <div class="form-group">
                    <label for="searchTxt">Search</label>
                    <input class="form-control" value="@Model.SearchTerm" placeholder="⌕Search.." id="searchTxt" name="Search" />
                </div>
            </div>
            <div class="col-md-4">
                <div class="form-group">
                    <label>Action</label>
                    <div class="row">
                        <div class="col-md-4 pr-0">
                            <button class="btn btn-primary form-control" type="button" id="searchbtn">Search</button>
                        </div>
                        <div class="col-md-4 pr-0">
                            <button class="btn btn-primary form-control" type="button" id="resetbtn">Reset</button>
                        </div>
                        <div class="col-md-4 pr-0">
                            <button class="btn btn-primary form-control" type="button" id="newbtn">New</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </form>
</div>

<div class="container">
    <br />
    <h2>Product Table</h2>
    <table id="ProductsTable" class="table table-striped">
        <thead>
            <tr>
                <th>Product Name</th>
                <th>Category</th>
                <th>Description</th>
                <th>Price</th>
                <th class="wrap-td">Action</th>
            </tr>
        </thead>
        <tbody>
            @if (Model.Products != null && Model.Products.Count > 0)
            {
                foreach (var product in Model.Products)
                {
                    <tr>
                        <td>@product.Name</td>
                        <td>
                            @if (product.Category != null)
                            {
                                <text>@product.Category.Name</text>
                            }
                            else
                            {
                                <text>--</text>
                            }
                        </td>
                        <td>@product.Description</td>
                        <td>$@product.Price</td>
                        <td>
                            <button class="editbtn" data-id="@product.ID">Edit</button>
                            <button class="deletebtn" data-toggle="modal" data-target="#exampleModal" data-id="@product.ID">Delete</button>
                        </td>
                    </tr>
                }
            }
            else
            {
                <tr>
                    <td class="text-danger" colspan="4">No Products found.</td>
                </tr>
            }
        </tbody>
    </table>
</div><!-- Products Details and listing-->

<!-- Modal -->
<div class="modal hide" id="exampleModal">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Delete Product</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                Are you sure yo want to delete this product?
            </div>
            <div class="modal-footer">
                <button type="button" id="yes-delete-btn" data-dismiss="modal" class="btn btn-primary">Yes,Delete</button>
                <button type="button" class="btn btn-dark" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>

<script>
    $(document).ready(function () {
        $('#ProductsTable').DataTable();
    });
    $(".editbtn").click(function () {
        $.ajax({
            url: '@Url.Action("Edit","Product")',/*'/Category/Edit',*/
            data: {
                ID: $(this).attr('data-id')
            }
        })
            .done(function (response) {
                $("#actionContainer").html(response)
                focusAction("actionContainer");

            })
            .fail(function (XMLHttpRequest, textStatus, errorThrown) {

            });
    });
    $("#searchbtn").click(function () {
        var searchValue = $("#searchTxt").val();
        $.ajax({
            url: '@Url.Action("ProductTable", "Product")',/*'/Product/ProductTable',*/
            data: {
                search: searchValue
            }
            })
            .done(function (response) {
                $("#tableContainer").html(response)
            })
            .fail(function(XMLHttpRequest, textStatus, errorThrown){
                alert("Fail");
            });
    });

    $("#resetbtn").click(function () {
        var searchValue = '';
        $.ajax({
            url: '@Url.Action("ProductTable", "Product")',/*'/Product/ProductTable',*/
            data: {
                search: searchValue
            }
        })
            .done(function (response) {
                $("#tableContainer").html(response)
            })
            .fail(function (XMLHttpRequest, textStatus, errorThrown) {
                alert("Fail");
            });
    });
    $("#newbtn").click(function () {
        $.ajax({
            url: '@Url.Action("Create", "Product")',
        })
        .done(function (response) {
            $("#actionContainer").html(response)
            focusAction("actionContainer");
        })
        .fail(function (XMLHttpRequest, textStatus, errorThrown) {
            alert(XMLHttpRequest+" "+textStatus+" "+errorThrown)
        });
    });
    $("#yes-delete-btn").click(function () {
        $.ajax({
            type: 'POST',
            url: '@Url.Action("Delete", "Product")',/*'/Product/Delete',*/
            data: {
                ID: $(".deletebtn").attr('data-id')
            }
        })
        .done(function (response) {
            $("#tableContainer").html(response)
        })
        .fail(function (XMLHttpRequest, textStatus, errorThrown) {
            alert("Request Faliled");
        });
    });
    
</script>
